#lienzo {
	background: #FFA;
}
	#tullido {
		background: #FAF;
	}
		#cabecera {
			background: #AFF;
			position: relative;
		}
		#cabecera:after,
		#cuerpo:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			visibility: hidden;
		}
			#alojaLogo {
				background: #FAA;
				height: 3em;
				width: 7em;
				margin: 0;
				padding: 0;
				float: left;
			}
			#menu {
				background: #AFA;
				height: 1em;
				width: 30em;

				float: right;
				margin-right: 1em;
			}
			#tabzilla {
			}
			#social {
				background: #FAF;
				height: 2em;
				width: 20em;

				position: absolute;
				right: 0px;
				bottom: 0;
			}
		#cuerpo {
			background: #AFF;
		}
			#contenido {
				background: #5EE;
				height: 10em;

				float: left;
				width: 75%;
			}
			#barra {
				background: #F77;
				height: 10em;

				float: left;
				width: 25%;
			}
	#pie {
		background: #AFA;
		height: 5em;
	}

@media only screen and (min-width: 720px) and (max-width: 979px) {
			#menu {
				float: none;
				clear: both;
			}
			#social {
				display: none;
			}
}

@media only screen and (max-width: 719px) {
#lienzo {
	min-width: 400px;
}
			#alojaLogo {
				height: 1.5em;
				width: 3.5em;
			}
			#menu {
				width: 1.5em;
				height: 1.5em;
				float: left;
			}
			#social {
				display: none;
			}
			#contenido,
			#barra {
				float: none;
				width: 100%;
			}
	}