/* }}} */
/* {{{ Responsive Grid */
/* Tablet Layout: 760px */

/* TODO */
/*@media only screen and (min-width: 760px) and (max-width: 1000px) {

  #wrapper, #lienzo, #tullido {
    width: 760px;
    min-width: 760px;
  }

}*/

/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {

  #main-content {
    width: auto !important;
  }

  #barra {
    float: none;
    width: 100%;
  }

  #lienzo, #tullido {
    width: 320px;
    min-width: 320px;
  }

  #lienzo {
    width: 100%;
  }

/* CSS RESPONSIVE ANTIGUO */

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */

  img {
    max-width: 100%; }


  #alojaLogo {
    margin-top: 60px;
    width: 100%; }


/* ==========================================================================
  Forum
  ========================================================================== */

#page-body {
  width: 100%;
}

.header dl.icon dd {
  font-size: 1.3em;
  line-height: 1em;
  margin: 0;
  padding: 5px 1%;
  text-align: center;
  width: 100%;
}

.header dl.icon dt {
  display: block;
  font-size: 1.8em;
  padding: 0 !important;
  text-align: center;
  width: 100%;
}

.topiclist.forums dt {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-bottom: 17px;
  padding-left: 4%;
  width: 100%;
}

.topiclist .topics, .topiclist .posts, .topiclist .lastpost, #stats, #page-footer {
  display: none;
}

.topiclist dl.icon {
  background-image: none !important;
}

#contenido h3 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 0;
  text-align: center;
}

#barra-small ul.linklist {
  text-align: center;
}

fieldset.quick-login label {
  margin-top: 10px;
  padding-right: 2px;
}

.quick-login label {
  display: inline-block;
  font-size: 1.2em;
  padding: 0;
}

fieldset.quick-login input {
  width: 100%;
}

label[for="autologin"] {
  display: none;
}

.headerspace {
  margin-top: 0;
}

.quick-login .button2 {
  display: block;
  font-size: 1.2em;
  margin: 20px auto 0;
  text-align: center;
}


#barra-small {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#barra-small ul.linklist li {
  display: block;
  font-size: 1.1em;
  line-height: 2.2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: auto;
}


/* ==========================================================================
  Wordpress
  ========================================================================== */


/* --------------------------------------------------------------------------
   Main Nav
   -------------------------------------------------------------------------- */
  #menu li:hover, #menu li:hover a, .js #menu li:hover span {
    background: #FFFFFF; }

/*  #contenido #main-content {
    width: 100%; }*/


  #social {
    display: none; }

  #menu {
    display: inline;
    font-size: 12px;
    height: 80px;
    width: 100%; }

  #cc {
    margin-bottom: -15px;
    margin-top: 15px; }

  .timer {
    z-index: 3 !important; }

  /* --------------------------------------------------------------------------
     Slider
     -------------------------------------------------------------------------- */
  .orbit-wrapper .orbit-caption h3 {
    font-size: 1em;
    margin: 2%;
    max-width: 45%; }

  .orbit-wrapper .orbit-caption p {
    display: none; }

  .orbit-wrapper .orbit-caption {
    width: 100%;
    padding: 0;
    z-index: 3; }

  #content-bar {
    clear: both;
    margin-bottom: 3em;
    margin-top: 3em; }

  /* --------------------------------------------------------------------------
     Footer
     -------------------------------------------------------------------------- */
  #pie {
    margin-top: 30px;
    width: 100%; }

  #pie #pie-contenido {
    margin: auto;
    width: 100%; }

  #pie #pie-contenido .c2 {
    background-position: 50% 50%;
    padding-right: 20px;
    width: 90%;
    margin-bottom: 15px; }

  #pie #pie-contenido .c1 {
    margin-left: 5%;
    margin-right: 5%;
    width: auto; }

  .home .post-content img, .archive .post-content img, .tag .post-content img, .page-template-labs-index-php .post-content img, .page-template-pais-php .post-content img {
    float: left;
    height: auto;
    min-width: 40%; }

  .home .portada-individual .texto-portada-individual, .archive .portada-individual .texto-portada-individual, .tag .portada-individual .texto-portada-individual, .page-template-labs-index-php .texto-portada-individual, .page-template-pais-php .portada-individual .texto-portada-individual {
    padding: 0; }

  .home .post-content img, .archive .post-content img, .tag .post-content img, .page-template-labs-index-php .post-content img, .page-template-pais-php .post-content img {
    max-width: 20%;
    width: 130px; }

}


/* TODO */
/* Wide Mobile Layout: 480px */
/*@media only screen and (min-width: 480px) and (max-width: 760px) {
  #wrapper, #tullido, #lienzo {
    width: 440px;
  }
  #masthead,
  #main-feature,
  #main-content,
  .billboard,
  .container,
  .main-column,
  .sidebar {
    width: auto;
  }
  .main-column,
  .sidebar {
    padding-left: 0;
    padding-right: 0;
  }
  #colophon .row {
    width: 420px;
  }
}*/


/* }}} */
.no-js .platform-img.js {
  display: none;
}
/* }}} */


