# Ignorar todo en el directorio inicial expecto las carpetas que nos interesan.
# http://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
/*

!.gitignore

!discourse/

!planet/
planet/*
!planet/custom/*

!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/mozillahispano2/

!foro/
foro/*
!foro/includes/
foro/includes/*
!foro/includes/cabecera-pie.php
!foro/includes/functions.php

foro/styles/*
!foro/styles/mozillahispano/

!documentacion/
documentacion/*
!documentacion/htmlets/
documentacion/skins/*
!documentacion/skins/foregroundMozillaHispano/
