# Ignorar todo en el directorio inicial expecto las carpetas que nos interesan.
/*

!.gitignore
!.gitmodules
!.htaccess
!README.md
!wp-content/
!foro/
!discourse/
!documentacion/
!planet/

!wp-content/themes/
!wp-content/plugins/

wp-content/themes/*
!wp-content/themes/mozillahispano2/

foro/*
!foro/includes/

foro/includes/*
!foro/includes/cabecera-pie.php
!foro/includes/functions.php
!foro/includes/styles/

foro/includes/styles/*
!foro/includes/styles/mozillahispano/

!discourse/*

documentacion/*
!documentacion/skins/
!documentacion/htmlets/

documentacion/skins/*
!documentacion/skins/bookjive.php
!documentacion/skins/bookjive/


planet/*
!planet/custom/

planet/custom/*
!planet/custom/views.php
!planet/custom/views/
!planet/custom/style/
!planet/custom/img/
