/*
-----------------------------------------------------
FraternityManuals.org MediaWiki 'monobook' style sheet for CSS2-capable browsers
FileName:   main.css
Version:    2005.04.06
Author:		jasonpearce.com
Modified by: Mozilla Hispano
-----------------------------------------------------

*/

/* Media Imports -----------------------------------------------------*/



pre {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	color: #555555;
	margin: 9px !important;
	overflow: auto;
	padding: 10px !important;
	width: 90%;
	white-space: pre-wrap;
}
tt {
	font-size: 1.1em;
	color: #0000ff;
	}


ul li img {
	vertical-align:middle;
}

/* Typography & Colors -----------------------------------------------*/

#titleBar {
	border-top: 2px solid #1860AC; /* Macro 4 Blue */
	}

#content {
	font-size: 1.3em;
	}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

acronym, abbr, span.caps {
	font-size: 0.9em;
	letter-spacing: .07em;
	}

#column-one {
	font-size: 1.1em;
	line-height: 1.0em;
	}

#column-one {
	color: #444444;
	}


iframe {border-color: #FFFFFF; padding: 0px;border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}


#content a.new {color: #BA0000;} /* green */

#column-one a:hover {color: #6095C1;} /* dark blue */
#column-one .selected a {
	color: #061B5E; /* orange */
	font-weight: bolder;
	}

.new a{
color:#BA0000;
}

/* LINK ICONS
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
#bodyContent a[href ^="http://"], #bodyContent a[href ^="gopher://"] {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
	}

#bodyContent a[href ^="https://"], .link-https {
    background: url("lock_icon.gif") center right no-repeat;
    padding-right: 16px;
	}

#bodyContent a[href ^="mailto:"], .link-mailto {
    background: url("mail_icon.gif") center right no-repeat;
    padding-right: 18px;
	}

#bodyContent a[href ^="news://"] {
    background: url("news_icon.png") center right no-repeat;
    padding-right: 18px;
	}

#bodyContent a[href ^="ftp://"], .link-ftp {
    background: url("file_icon.gif") center right no-repeat;
    padding-right: 18px;
	}

#bodyContent a[href ^="irc://"], .link-irc {
    background: url("discussionitem_icon.gif")  center right no-repeat;
    padding-right: 18px;
}




/* Structure & Frame -------------------------------------------------*/
body {
	text-align: center;
	}

#titleBar {
	height: 100px;
	text-align: left;
	width: 100%;
	}

#globalWrapper {
	margin: 0pt auto;
	text-align: left;
	width : 98%
	}

#column-content {
	float: left;
	width: 100%;
	margin-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	text-align: left;
	}

#barra-small #searchBody form input[type=text] {
	width: 140px;
}

#footer {
	clear: both;
	height: 5em;
	margin-top: 5em;
	color: #CCCCCC;
	}


/* Headers -----------------------------------------------------------*/
/*h1, h2, h3, h4 {font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;}*/
/*h1, h2, h3, h4 {font-family: Verdana, Arial, Sans-Serif;}*/

#cont_wiki {
	width: 75%;
}
#cont_wiki h1 {
line-height:1.2em;
padding-top: 1em;
font-size:1.7em;
}

#cont_wiki #column-content h2 {
border-bottom: 1px solid #CCCCCC;
line-height: 1.1em;
padding-top: 1em;
font-size:1.5em;
clear:both;
}

#cont_wiki h3 {
font-size:1.3em;
margin-top:1em;
}

#cont_wiki h4 {
font-size:1.1em;
margin-top:1em;
margin-bottom:1em;
}
.firstHeading {
border-bottom-style: solid;
border-bottom-color: #d5d5d5;
font-size: 1.8em;
}
.editsection {float:right; font-size: 70%}

.portlet h5 { /* blocks within #column-one */
	border-top: 1px solid #eeeeee;
	margin-top: 0;
	padding-top: 0.25em;
	}

/* Parrafos ------------------------------------------------------------*/

#cont_wiki p{
margin-top: 1em;
}

/* Images ------------------------------------------------------------*/
#titleBar {
	background: #FFF url(bookjiveTitle.png) repeat-x; /* blue and white background */
	}

#titleBar img {
	margin-left: 2.5%;
	}

#p-poweredby img {
	border: 0;
	clear: both;
	float: right;
	margin: 2px 0;
	}


/* Lists -------------------------------------------------------------*/

#cont_wiki #column-content #content #bodyContent ul {
	margin: 10px;
}
#cont_wiki #column-content #content #bodyContent ol {
	margin: 10px;
}

#cont_wiki #column-content li {
	margin-left: 10px;
	}

#cont_wiki #bodyContent ul li{
list-style-type: circle;
margin-left:3em;
margin-top: 0.7em;
}

#cont_wiki #bodyContent ol li{
list-style-type: decimal;
margin-left:3em;
}

.portlet ul {
	margin-bottom: 2em;
	}

/* Special stylized non-IE bullets
   Does not work in Internet Explorer, which merely default to normal bullets. */
html>body .portlet ul {
	list-style: none;
	margin-left: 0px;
	padding: 0 0 0 30px;
	padding-left: 10px;
	text-indent: -10px;
	}

html>body .portlet li {
	margin:0em 0em 0.4em 1em;
	}

html>body .portlet ul li {
	list-style: circle inside none;
}


/* Form Elements -----------------------------------------------------*/
.portlet #searchform {
	margin-left: 10px;
	margin-bottom: 2em;
	}

.portlet #searchform input {
	margin: 0.15em 0;
	}


/* Various Tags & Classes --------------------------------------------*/
#siteSub, .urlexpansion, .printfooter {
	display: none;
	}

.visualClear {
	clear: both;
	}

/* BEGIN user notifications */
.usermessage {
    background-color: #ffce7b; /* yellow */
    border: 1px solid #ffa500; /* orange */
    color: Black;
    font-weight: bold;
    margin: 2em 0em 1em 0em;
    padding: 0.5em 1em;
    vertical-align: middle;
	}

#siteNotice {
    font-size: 95%;
    padding: 0 0.9em 0 0.9em;
    text-align: center;
	}

#siteNotice p {margin: 0; padding: 0;}

.error {color: red; font-size: larger;}

#catlinks {
	clear: both;
	margin: 1em 0;
	padding: 1px 0;
	color: #CCCCCC;
}

#catlinks p {margin: 0.5em;}

#catlinks a {
	color: #CCCCCC;
}

/*
** the page-related actions- page/talk, edit etc
*/
/* @media screen, projection { */
	#p-cactions {
		margin-bottom:0em;
		margin-right: 1em;
	}
	#p-cactions ul {
		list-style: none;
	}
	#p-cactions li {
		display: inline;
	}
	#p-cactions li.selected a {
		font-weight: bold;
	}
	#p-cactions li a {
		padding-left: 1.5em;
	}
	#p-cactions li a:hover{
		text-decoration: underline;
	}
	#p-cactions .new a{
		color: #CC2200;
	}
	/* Imagenes para las diferentes acciones*/
	#ca-nstab-main{
		background: transparent url(./icons/article.png) no-repeat scroll 0%;
	}
	#ca-nstab-category{
		background: transparent url(./icons/article.png) no-repeat scroll 0%;
	}
	#ca-nstab-template{
		background: transparent url(./icons/article.png) no-repeat scroll 0%;
	}
	#ca-nstab-help{
		background: transparent url(./icons/article.png) no-repeat scroll 0%;
	}
	#ca-nstab-special{
		background: transparent url(./icons/article.png) no-repeat scroll 0%;
	}
	#ca-talk{
		background: transparent url(./icons/discussion.png) no-repeat scroll 0%;
	}
	#ca-talk:hover{
		background: transparent url(./icons/discussion-hover.png) no-repeat scroll 0%;
	}
	#ca-talk a{
		padding-left: 1.4em;
	}
	#ca-edit, #ca-form_edit{
		background: transparent url(./icons/edit.png) no-repeat scroll 0%;
	}
	#ca-edit:hover, #ca-form_edit:hover{
		background: transparent url(./icons/edit-hover.png) no-repeat scroll 0%;
	}
	#ca-history{
		background: transparent url(./icons/history.png) no-repeat scroll 0%;
	}
	#ca-history:hover{
		background: transparent url(./icons/history-hover.png) no-repeat scroll 0%;
	}
	#ca-protect{
		background: transparent url(./icons/protect.png) no-repeat scroll 0%;
	}
	#ca-unprotect{
		background: transparent url(./icons/unprotect.png) no-repeat scroll 0%;
	}
	#ca-viewsource{
		background: transparent url(./icons/source.png) no-repeat scroll 0%;
	}
	#ca-delete{
		background: transparent url(./icons/delete.png) no-repeat scroll 0%;
	}
	#ca-move{
		background: transparent url(./icons/move.png) no-repeat scroll 0%;
	}
	#ca-watch{
		background: transparent url(./icons/watch.png) no-repeat scroll 0%;
	}
	#ca-addsection{
		background: transparent url(./icons/addsection.png) no-repeat scroll 0%;
	}


#p-cactions .hiddenStructure {
	display: none;
}
/*

/* END user notifications */



/* Content -----------------------------------------------------------*/
/* BEGIN Table of Contents */
#toc{
	margin:1em 0.4em 0em;;
	background-color:#F9F9F9;
	border:1px solid #8FAECD;
	font-size:85%;
	float: right;
}

#toc td {padding:0.5em;}

#toc #toctitle h2{padding-top:0.5em;}

#toc li{
	margin-left:2em!important;
}

.tocnumber{display: none;}

#toc .tocindent {margin-left:0em;}

#toc .tocline {margin-bottom:0px;}

#toc p {margin:0}

#toc .editsection{margin-top:0em;}

/* END Table of Contents */
/* BEGIN Page history styling */
.autocomment {color: gray;}
#pagehistory span.user {margin-left: 1.4em; margin-right: 0.4em;}
#pagehistory span.minor {font-weight: bold;}
#pagehistory input {margin: 0.2em;}
#pagehistory li {border: 1px solid #ffffff; margin-top: 1px; margin-bottom: 1px;}
#pagehistory li.selected {
	background-color: #FCFFFF; /* light blue */
	}
/* END Page history styling */

/* BEGIN Diff rendering */
table.diff {background:#FEFEFE;border: 1px solid #cccccc; padding: 0.5em}
table.diff td {vertical-align: top;}
td.diff-otitle a, td.diff-ntitle a, td.diff-otitle a:visited, td.diff-ntitle a:visited {color: #2153B0;}
td.diff-otitle a:hover, td.diff-ntitle a:hover {text-decoration: underline;}
td.diff-otitle {}
td.diff-ntitle {}
td.diff-addedline {background:#F2F6FF;}
td.diff-addedline span.diffchange {
	background: #CDDEFF;
	border: 1px dashed #676F80;
	color: green;
	font-weight: bold;
	}
td.diff-deletedline {background:#FFF9F2;}
td.diff-deletedline span.diffchange {
	background: #FFE9CB;
	border: 1px dashed #B3A38E;
	color: red;
	font-weight: bold;
	text-decoration: line-through;
	}
td.diff-context {background:#eeeeee;}
.newpage {color: green;	font-weight: bolder;}
/* END Diff rendering */

/* BEGIN forms */
fieldset {
	border: none;
	margin: 1em;
	padding: 0.5em 1em;
}

fieldset div {
	margin: 0.25em 0;
	}

fieldset input {
	margin: 0 0.5em;
	}

legend {
	font-size: 1.25em;
	font-weight: bolder;
	padding: 0.2em 0.5em;
	}
/* END forms */




/* Footer ------------------------------------------------------------*/
#footer ul {
	list-style: none;
	margin: 0;
	}

#footer ul li {
	margin: 0.1em;
	margin-right: 1em;
	}

#f-lastmod {}
#f-viewcount {display: none;}
#f-copyright {}
#f-copyrightico {
float: right;
}
#f-about {float: left;}
#f-disclaimer {float: left;}
#f-developedby {float: left;}
/* images */
div.floatright, table.floatright {
    clear: right;
    float: right;
    position: relative;
    margin: 0 0 0.5em 0.5em;
    border: 0
/*
    border: 0.5em solid White;
    border-width: 0.5em 0 0.8em 1.4em;
*/
}
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft {
    float: left;
    position: relative;
    margin: 0 0.5em 0.5em 0;
    border: 0
/*
    margin: 0.3em 0.5em 0.5em 0;
    border: 0.5em solid White;
    border-width: 0.5em 1.4em 0.8em 0;
*/
}
div.floatleft p { font-style: italic; }
/* thumbnails */
div.thumb {
    margin-bottom: 0.5em;
    border-style: solid; border-color: White;
    width: auto;
}
div.thumb div {
    border:1px solid #cccccc;
    padding: 3px !important;
    background-color:#f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}
div.thumb div a img {
    /*border:1px solid #cccccc;*/
}
div.thumb div div.thumbcaption {
    border: none;
    text-align: left;
    line-height: 1.4em;
    padding: 0.3em 0 0.1em 0;
}
div.magnify {
    float: right;
    border: none !important;
    background: none !important;
}
div.magnify a, div.magnify img {
    display: block;
    border: none !important;
    background: none !important;
}
div.tright {
    clear: right;
    float: right;
    border-width: 0.5em 0 0.8em 1.4em;
}
div.tleft {
    float: left;
    margin-right:0.5em;
    border-width: 0.5em 1.4em 0.8em 0;
}
.urlexpansion,
.hiddenStructure {
    display: none;
}

img.tex { vertical-align: middle; }

span.texhtml { font-family: serif; }

/* cmo extension css */
#bodyContent .topicbox a[href ^="http://"],
#bodyContent .topicbox a[href ^="gopher://"],
#bodyContent .topicbox a[href ^="https://"],
.topicbox .link-https {
	background-image: none;
	padding-right: 0;
}

/*#content .topicbox:hover {
  opacity: 1.0;
  background: #fafafa;
  border: 1px solid #cccccc;
  -moz-border-radius: 1em;
  border-radius: 1em;
}*/

#content .topicbox img {
  float: left;
  opacity: 0.7;
  margin: 0 10px 10px 10px;
}

#content .topicbox.default {
  opacity: 1.0;
  background: #ececec;
  /*border: 1px solid #cccccc;
  -moz-border-radius: 1em;
  border-radius: 1em;*/
}

#content .topicbox h2 {
  font-size: 18px;
}
#cont_wiki #column-content .topicbox h2 {
	border: 0 none;
	margin: 1em 0.6em;
	padding: 0;
}

#content .topicbox td h3 a {
  text-decoration: none;
  color: #051332;
}

#content .topicbox table {
  width: 100%;
}

#content .topicbox td:hover {
  background-color: white;
  /*border: 1px solid #eeeeee;
  -moz-border-radius: 1em;
  border-radius: 1em;*/
}

#content .topicbox td:hover img {
  opacity: 1.0;
}

#content .topicbox td {
  vertical-align: top;
  width: 50%;
  /*border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
  -moz-border-radius: 1em;
  border-radius: 1em;*/
  padding: 10px;
}

#content .topicbox td h3 {
  margin-bottom: 1px;
  margin-top: 1px;
  font-size: 1.1em;
  padding-left: 10px;
  display: block;
}

#content .topicbox td h3 a {
  display: block;
}

#content .topicbox td p {
  font-size: 0.9em;
  margin: 0px;
  margin-top: 5px;
  display: block;
  position: relative;
  min-height: 30px;
}

#content .topicbox td span.desc {
  position: absolute;
  left: 68px;
  top: 0;
}

#content .topicbox td span.longdesc {
  position: absolute;
  left: 68px;
  top: 0;
  /*opacity: 0;*/
  display: none;
}

/* Fin extension cmo */

/* Perfiles de usuarios */
body[class*="page-Usuario"] h2.firstHeading {
        display: none;
}

div#breadcumbs {
	font-size: 0.85em;
	font-weight: bold;
}

/* Pagina colabora */

/* Quitamos el titulo y enlaces wiki */
body.page-Colabora h2.firstHeading {
	display: none;
}

body.page-Colabora #p-cactions,  body.page-Programa_de_mentores #p-cactions{
	display: none;
}

#colabora a {
	background: none;
}

#colabora, #mentores {
	border: 1px solid #C9DDF2;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 -2px 0 rgba(204, 223, 243, 0.3) inset, 0 0 1px rgba(0, 0, 0, 0.1);
	display: block;
	padding: 14px 24px 17px 215px;
	min-height: 260px;
	margin: 1em;
	overflow: auto;
}

#colabora {
		background: url("icons/owly.png") no-repeat scroll 25px 20px #FCFDFE;
}

#mentores {
		background: url("https://www.mozilla-hispano.org/wp-content/themes/mozillahispano/img/materiales.png") no-repeat scroll 9px 94px #FCFDFE;
		color: #666666;
}

#mentores a {
	background: none !important;
	padding: 0 !important;
}

#mentores dt {
	font-size: 1.4em;
	color: #000000;
	text-transform: uppercase;
}

#mentores dd {
	margin: 1em 0;
}

#colabora #adopta h2, #mentores h2 {
	border: none !important;
}

#colabora #adopta h2 a, #mentores h2 {
    	color: #C63717;
    	font-family: Georgia,serif;
   	 font-size: 25px;
    	margin-bottom: 0.5em;
	background: none;
}
#colabora #adopta p a {
	color: #666666;
}
#colabora #adopta p.greenButton {
	margin: 3em 48px;
    text-align: center;
}
#colabora #adopta p.greenButton a {
	background: -moz-linear-gradient(#84C63C, #489615) repeat scroll 0 0 #489615;
	background: -webkit-linear-gradient(#84C63C, #489615) repeat scroll 0 0 #489615;
	background: -ms-linear-gradient(#84C63C, #489615) repeat scroll 0 0 #489615;
	background: -o-linear-gradient(#84C63C, #489615) repeat scroll 0 0 #489615;
	color: #FFFFFF;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
	padding: 8px 16px 12px;
	border-radius: 6px 6px 6px 6px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	font: bold 16px "Trebuchet MS",sans-serif;
}

#colabora #adopta p.greenButton a:hover {
	box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
}

#colabora #subColabora h2, #colabora #subColabora a{
        border: none;
        color: #666666;
	margin-bottom: 0.8em;
	background:none;
}

#colabora #proyectosDes, #colabora #formasFaciles {
	width: 50%;
}

#colabora #proyectosDes ul {
	padding-left: 55px;
}

#colabora #formasFaciles ul{
	padding-left: 40px;
}

#colabora #proyectosDes {
	float: left;
	background: url("icons/manoplas.png") no-repeat scroll 0 52px transparent;
}

#colabora #formasFaciles {
	float: right;
	background: url("icons/minutes.png") no-repeat scroll 0 48px transparent;
}

#colabora #enlacesColabora {
	clear: both;
    font-size: 0.85em;
    padding-top: 1em;
    text-align: right;
}

#colabora #enlacesColabora a:hover {
	text-decoration: underline;
}

/* Fin pagina colabora y mentores */

#form-buscador #keywords {
	border:1px solid #CCCCCC!important;
	padding-bottom:0.5em;
	padding-top:0.5em;
	-moz-border-radius: 4px;
}


#creditos {
	background-color:#F9F9F9;
	color:#BCBCBC;
	padding:9px;
	margin-top: 2em;
	font-size: 0.9em;
}

#creditos a {
	color:#BCBCBC;
	text-decoration: underline;
}

#creditos a:hover {
	text-decoration: none;
	color: #CCCCCC;
}

/* Buscador en el home */
#alojaBusqueda {
	width: 450px;
	margin: auto;
}

#alojaBusqueda form {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #98B2C9;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.5) inset, 0 2px 0 rgba(0, 0, 0, 0.1);
	height: 30px;
	padding: 5px 7px 9px;
}
#alojaBusqueda form input[type='text'] {
	background: url("./icons/icon.search.png") no-repeat scroll 7px 2px #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 3px #D9D9D9 inset;
	height: 24px;
	margin: 0 1px 0 0;
	padding: 2px 0 1px 34px !important;
	width: 215px;
	color: #666666;
	vertical-align: top;
}

#alojaBusqueda form input[type='submit'] {
	background: url("./icons/btn.search.png") no-repeat scroll 0 0 #FFFFFF;
	border: medium none;
	cursor: pointer;
	height: 33px;
	margin: 0;
	padding: 0;
	text-indent: -1000em;
	width: 37px;
}


.todoAncho {
	width: 100% !important;
}

div.mw-geshi {
  padding: 1em; 
  margin:1em 0; 
  border: 1px dashed #2fab6f;
}

/* Botones */
.add-button, #form-addtask input[type="submit"] {
	background-color:#84C63C;
	background: -moz-linear-gradient(#84C63C, #489615) repeat scroll 0 0 #489615;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 10px;
    font-weight: bold;
    padding: 7px 8px 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	margin: 5px;
}

.add-button:hover, #form-addtask input[type="submit"]:hover {
	background: -moz-linear-gradient(#84C63C, #80BC4C) repeat scroll 0 0 #84C63C;
}

.add-button a {
	color: #FFFFFF!important;
	background: none!important;
	padding: 0 !important;
}

#form-addtask {
	float: right;
}

#form-addtask input[type="submit"] {
	margin-top: -3px;
	border: none;
}
#task-rss {
  background: url("https://www.mozilla-hispano.org/wp-content/themes/mozillahispano/img/rss.png") no-repeat scroll 0 0 transparent !important;
  float: right;
  height: 14px;
  margin-right: 29px;
  margin-top: 11px;
  width: 14px;
}
#icalendar {
  background: url("https://www.mozilla-hispano.org/wp-content/themes/mozillahispano/img/event-icon.png") no-repeat scroll 0 0 transparent !important;
  float: right;
  height: 16px;
  margin-right: 57px;
  margin-top: 11px;
  width: 16px;
}
#task-rss p, #icalendar p {
	margin-top: 0px;
}
#task-rss a, #icalendar a {
  font-size: 10px;
  height: 14px;
  line-height: 15px;
  padding-left: 23px;
  position: absolute;
  width: 14px;
  background: none !important;
}

#event-map {
	float: right;
	margin: 1em;
}
/* Selector de SO */
body .win,body .mac, body .unix, body .noWin, body .noMac, body .noUnix{
	display: none;
}
body.win .win, body.win .noUnix, body.win .noMac{
	display: inline;
}
body.mac .mac, body.mac .noUnix, body.mac .noWin{
	display: inline;
}
body.unix .unix, body.unix .noWin, body.unix .noMac{
	display: inline;
}
body.win ul.win, body.win ul.noUnix, body.win ul.noMac{
	display: block;
}
body.mac ul.mac, body.mac ul.noUnix, body.mac ul.noWin{
	display: block;
}
body.unix ul.unix, body.unix ul.noWin, body.unix ul.noMac{
	display: block;
}
body.win li.win, body.win li.noUnix, body.win li.noMac{
	display: list-item;
}
body.mac li.mac, body.mac li.noUnix, body.mac li.noWin{
	display: list-item;
}
body.unix li.unix, body.unix li.noWin, body.unix li.noMac{
	display: list-item;
}
body.win .winSelect{
	font-weight: bold;
}
body.unix .unixSelect{
     font-weight: bold;
}
 body.mac .macSelect{
     font-weight: bold;
}

/* SMW Calendar */

table.navigation_table {
	width: 100%;
}
table.navigation_table tr td.month_name {
	font-size: 2em;
}
table.navigation_table tr td.nav_links {
	text-align: center;
	font-weight: bold;
}
table.navigation_table tr td.nav_form {
	text-align: right;
}

table.navigation_table tr td.nav_form select, table.navigation_table tr td.nav_form input {
	float: left;
}

table.month_calendar {
	border-collapse: collapse;
}
table.month_calendar tr {
}
table.month_calendar td {
	width: 150px;
	border: 1px #CCCCCC solid;
	padding: 0px;
	vertical-align: top;
}
table.month_calendar td div.day {
	background: white;
	min-height: 15px;
	min-width: 15px;
	padding: 5px;
	margin: 0px 0px 3px 3px;
	float: right;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: larger;
	color: #555555;
	border-left: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
}
table.month_calendar td div.day_other_month {
	background: #eeeeee;
	color: #aaaaaa;
	border: none;
}
table.month_calendar td div.day_other_month {
	background: #fcffb1;
	color: #aaaaaa;
}
table.month_calendar td div.main {
	min-height: 80px;
	padding: 4px;
	height: 100%;
}
table.month_calendar td div.main p {
	font-size: 0.8em;
}
table.month_calendar td.today div.day {
	background: #dbe8f9;
	color: black;
	border-left: 1px #999999 solid;
	border-bottom: 1px #999999 solid;
}
table.month_calendar td.today div.main {
	background: #f9f9f9;
}
table.month_calendar tr.header {
	vertical-align: middle;
}
table.month_calendar tr.header td {
	padding: 30px 10px 10px 10px;
	border: 0;
	text-align: center;
	font-size: x-large;
}
table.month_calendar tr.weekdays {
	border-top: 1px #CCCCCC solid;
	font-weight: bold;
	background: #dbe8f9;
}
table.month_calendar tr.weekdays td {
	border: 0;
	text-align: center;
	vertical-align: middle;
	color: #555555;
	padding: 8px 2px 2px 2px;
}
table.month_calendar td div.colored-entry {
	border: 1px #f4f4d2 solid;
	background: #ffffdd;
	margin: 4px 0 4px 0;
}
table.month_calendar td div.colored-entry p {
	margin: 0;
	padding: 2px 0 2px 6px;
}
