/* Fonts */
/* Importado en //mozorg.cdn.mozilla.net/media/css/tabzilla-min.css */
body {
	background-color: #FFF;
	background-image: linear-gradient(bottom, #FFFFFF 75%, #E7EDF1 100%);
		background-image: -o-linear-gradient(bottom, #FFFFFF 75%, #E7EDF1 100%);
		background-image: -moz-linear-gradient(bottom, #FFFFFF 35%, #E7EDF1 100%);
		background-image: -webkit-linear-gradient(bottom, #FFFFFF 75%, #E7EDF1 100%);
		background-image: -ms-linear-gradient(bottom, #FFFFFF 75%, #E7EDF1 100%);
    background-repeat: no-repeat;
    color: #282828;
	border-top: 2px solid #FFFFFF;
	font-family: 'Open Sans',sans-serif;
	font-size: 0.62em;
}
#lienzo {
	min-width: 320px;
}
/* Menu */
#menu #nav-main-menu {
	display: none;
}
#menu {
	display: inline-block;
	font-size: 1.2em;
	height: 80px;
	/*width: 540px;*/
}

#menu ul {
	float: left;
	list-style-type: none;
}

#menu li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}

#menu li a,
#menu li span {
	color: #444444;
	cursor: pointer;
	display: block;
	padding: 0.8em 0.7em;
	position: relative;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

#menu li:hover,
#menu li:hover a,
.js #menu li:hover span {
	-webkit-box-shadow:
		inset rgba(255,255,255,0.8) 0 -6px 20px 10px;
	-webkit-box-shadow:
		rgba(152,178,201,0.2) 0 0px 0px,
		inset rgba(255,255,255,0.8) 0 -6px 20px 10px;
	box-shadow:
		rgba(152,178,201,0.2) 0 0px 0px,
		inset rgba(255,255,255,0.8) 0 -6px 20px 10px;
	-moz-transition: 0.2s linear;
	-moz-transition-property: background, box-shadow, border-right;
	-webkit-transition: 0.2s linear;
	-webkit-transition-property: background, box-shadow, border-right;
	-o-transition: 0.2s linear;
	-o-transition-property: background, box-shadow, border-right;
	transition: 0.2s linear;
	transition-property: background, box-shadow, border-right;
	background: rgb(251,253,255);
	background: rgba(255,255,255,0);
	outline: 0;
}

#menu li ul.submenu {
/*
	background-color: rgba(255, 255, 255, 0.976);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
	color: #FFFFFF;
	display: none;
*/
	position: absolute;
	text-align: left;
	/* top: 37px; */
	width: 190px;
	z-index: 100;
	overflow: hidden;
}
.js #menu li ul.submenu {
	display: none;
}
.js .withChilds span {
	cursor: pointer;
}
.js #menu li.visibleChilds ul.submenu {
	display: block;
	background: rgb(251,253,255);
	background: rgba(255,255,255,0);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

#menu li ul.submenu li a {
	border-color: rgba(0, 0, 0, 0.05) -moz-use-text-color -moz-use-text-color;
	border-width: 1px 0 0;
	display: block;
	font-size: 0.8em;
	margin: 0;
	padding: 0.5em 1em;
	width: 19em;
}

#menu li.hover ul.submenu {
	-moz-transition: opacity 0.4s linear 0s;
	-wekit-transition: opacity 0.4s linear 0s;
	-o-transition: opacity 0.4s linear 0s;
	transition: opacity 0.4s linear 0s;
	display: block;
}

@media only screen and (min-width: 720px) and (max-width: 979px) {
}

@media only screen and (max-width: 719px) {
	#menu {
		height: auto;
		position: absolute;
		font-size: 130%;
	}
	#menu #nav-main-menu {
		display: block;
		width: 32px;
		height: 32px;
		text-indent: -999em;
		overflow: hidden;
		background-image: url(icn-menu.png);
	}
	#menu #nav-main-menu.visibleChilds {
		background-position: 0 100px;
	}
	#menu #main-menu {
		display: none;
		float: left;
		position: absolute;
		top: 0;
		left: 32px;
	}
	#menu #main-menu.visibleChilds {
		display: block;
	}
	#menu ul {
		float: none;
		margin: 0;
		padding: 0;
	}
	#menu li {
		display: block;
		float: none;
		margin: 0;
		padding: 0;
		position: relative;
	}
	#menu li ul.submenu {
		position: static;
		padding: 0 1em 0 2em;
		width: auto;
		z-index: auto;
		overflow: visible;
	}
	#menu li ul.submenu li a {
		font-size: 1em;
		margin: 0;
		padding: 0 0 0.5em 0;
		width: auto;
	}

}