/* Diseño original: elufo, maquetación: stripTM */

/* Css común del diseño stone */
/* Contiene los estilos de partes comunes, como cabecera, pie */

@import url('undohtml.css');

html{
    height: 100%;
}

/* Lienzo */
body {
    min-height: 100%;
    position: relative;
	background-image: -o-linear-gradient(bottom, #FFFFFF 75%, #E7EDF1 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 75%, #E7EDF1 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 75%, #E7EDF1 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 75%, #E7EDF1 100%);
	background-image: linear-gradient(to bottom, #E7EDF1 5em, #FFFFFF 15em);
	background-color: #FFF;
    background-repeat: no-repeat;
    color: #282828;
	border-top: 2px solid #FFFFFF;
	font-family: 'Open Sans',sans-serif;
	font-size: 0.62em;
	text-align: inherit; /* Para evitar conflictos con el css de la documentacion (bookjive/main.css)*/
    /*padding-bottom: 24em;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Fonts */
/* Importado en //mozorg.cdn.mozilla.net/media/css/tabzilla-min.css */
.open-sans {
	font-family: 'Open Sans',sans-serif;
}
.open-sans-light {
	font-family: 'Open Sans Light',sans-serif;
	font-weight: 300;
}

a[hreflang]:after { /* Mostrar el idioma de destino siempre que no sea espa�ol :not([hreflang=es])*/
	content: ' ('attr(hreflang)')';
	font-size: 80%;
}

a[hreflang=es]:after {content: '';} /* Desactivar los que son en espa�ol con sintaxis de css2 */
.clearfix:after {content: "."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix {display:block;} /*opera & safari */
/*ie6 and no IE mac*/
/* Hides from IE-mac \*/ * html .clearfix {height: 1%;} /* End hide from IE-mac */
video {
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	-moz-box-shadow:0 0 0.6em #777777;
	-webkit-box-shadow:0 0 0.6em #777777;
	box-shadow:0 0 0.6em #777777;
	margin:1em 0;
	padding:0px;
}

#lienzo {
	overflow: hidden;
	margin: 0px auto;
}

#tullido {
	margin: auto;
	position: relative;
	text-align: left;
	max-width: 980px;
	z-index: 1;
}

/* Enlaces */
a:link, a:visited {
	color:#447BC4;
}
a:hover, a:active {
	color:#447BC4;
	text-decoration: underline;
}

input.text {
	border:1px solid #CCCCCC;
}

/* Cabecera */
#cabecera {
	height: 100px;
}

	#alojaLogo {
		float: left;
		width: 261px;
		margin: 10px 22px 0 0;
	}

	#cabecera h1 {
		position: relative;
		width: 261px;
		background-image: url(../img/title.png);
		background-repeat: no-repeat;
		height:80px;
	}

	#cabecera h1 a {
		display: block;
		font-size: 1px;
		height: 80px;
		left: 0;
		position: absolute;
		text-indent: -1000em;
		top: 0;
		width: 261px;
	}
	#cabecera h1 a:focus {
		outline: none;
		background-color: rgba(255, 255, 255, 0.3);
	}

	#social {
		margin-top: -20px;
		width: 228px;
		float: right;
	}

	#social li {
		float: left;
		width: 28px;
		height: 29px;
		margin: 0 0 12px 10px;
		opacity: 0.8;
	}
	#social li:hover {
		opacity: 1;
	}
	#social a {
		text-indent: -10000em;
		display: block;
		width: 28px;
		height: 29px;
	}
		/* Redes Sociales */
		a#twitter-icon {
			background: url("../img/twitter-icon28.png") no-repeat;
			/*margin: -34px 200px 0 0;*/
		}

		a#facebook-icon {
			background: url("../img/facebook-icon28.png") no-repeat;
			/*margin: -34px 160px 0 0;*/
		}

		a#gplus-icon {
			background: url("../img/gplus-icon28.png") no-repeat;
			/*margin: -34px 120px 0 0;*/
		}

		a#youtube-icon {
			background: url("../img/youtube-icon28.png") no-repeat;
			/*margin: -34px 80px 0 0;*/
		}

		a#flickr-icon {
			background: url("../img/flickr-icon28.png") no-repeat;
			/*margin: -34px 40px 0 0;*/
		}

		a#rss-icon {
			background: url("../img/rss-icon28.png") no-repeat;
			/*margin: -34px 0 0 0;*/
		}

		a#twitter-icon:hover,
		a#rss-icon:hover,
		a#flickr-icon:hover,
		a#gplus-icon:hover,
		a#facebook-icon:hover,
		a#youtube-icon:hover {
			opacity: 1;
		}

/* Menu */
#menu {
	display: inline-block;
	font-size: 1.2em;
	height: 80px;
	width: 540px;
	float: left;
	margin-right: 100px;
}

#menu ul {
	float: left;
	list-style-type: none;
}

#menu > ul > li {
        display: table-cell;
}

#menu li {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
}

#menu li a,
#menu li span {
	color: #444444;
	cursor: pointer;
	display: block;
	padding: 0.8em 0.7em;
	position: relative;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

#menu li:hover,
#menu li:hover a,
.js #menu li:hover span {
	-webkit-box-shadow:
		inset rgba(255,255,255,0.8) 0 -6px 20px 10px;
	-webkit-box-shadow:
		rgba(152,178,201,0.2) 0 0px 0px,
		inset rgba(255,255,255,0.8) 0 -6px 20px 10px;
	box-shadow:
		rgba(152,178,201,0.2) 0 0px 0px,
		inset rgba(255,255,255,0.8) 0 -6px 20px 10px;
	-moz-transition: 0.2s linear;
	-moz-transition-property: background, box-shadow, border-right;
	-webkit-transition: 0.2s linear;
	-webkit-transition-property: background, box-shadow, border-right;
	-o-transition: 0.2s linear;
	-o-transition-property: background, box-shadow, border-right;
	transition: 0.2s linear;
	transition-property: background, box-shadow, border-right;
	background: rgb(251,253,255);
	background: rgba(255,255,255,0);
	outline: 0;
}

#menu li ul.submenu {
/*
	background-color: rgba(255, 255, 255, 0.976);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
	color: #FFFFFF;
	display: none;
*/
	position: absolute;
	text-align: left;
	/* top: 37px; */
	width: 190px;
	z-index: 100;
	overflow: hidden;
}
.js #menu li ul.submenu {
	display: none;
}
.js .withChilds span {
	cursor: pointer;
}
.js #menu li.visibleChilds ul.submenu {
	display: block;
	background: rgb(251,253,255);
	background: rgba(255,255,255,0);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

#menu li ul.submenu li a {
	border-color: rgba(0, 0, 0, 0.05) -moz-use-text-color -moz-use-text-color;
	border-width: 1px 0 0;
	display: block;
	font-size: 0.8em;
	margin: 0;
	padding: 0.5em 1em;
	width: 19em;
}

#menu li.hover ul.submenu {
	-moz-transition: opacity 0.4s linear 0s;
	-wekit-transition: opacity 0.4s linear 0s;
	-o-transition: opacity 0.4s linear 0s;
	transition: opacity 0.4s linear 0s;
	display: block;
}

#ocultaBarra {
	float: right;
	margin: -1.2em 0.2em 0 0;
	color: white;
	cursor: pointer;
}


/* Cuerpo */
#cuerpo {
	margin-top: 1em;
}

/* Contenido */
#contenido {
	margin-right: -3px;
	padding-bottom:3em;
	float: left;
	width: 100%;
}
#contenido.todoAncho {
	width: 100%;
}

/* Pie */
#pie {
	background-color: #222222;
	color: #74726A;
	font-size: 1.2em;
	padding: 2em 0;
	overflow: hidden;
    width: 100%;
}
#pie a {
	color: #555;
}

#pie a:hover {
	text-decoration: underline;
}

#pie #pie-contenido {
	margin: auto;
}

#pie #pie-contenido .c1, #pie #pie-contenido .c2 {
	display: inline-block;
	float: left;
	margin: 0 10px;
}

#pie #pie-contenido .c2 {
	background: url("../img/title-v.png") no-repeat scroll 0 0 transparent;
	padding-right: 20px;
	padding-top: 180px;
	text-align: center;
	width: 180px;
}

#pie #pie-contenido .c1 {
	width: 165px;
}

#pie #pie-contenido .c1 li {
	list-style-type: none;
	padding: 3px 0;
}

#pie #pie-contenido .c1 strong {
	font-size: 1.1em;
	line-height: 3em;
	text-transform: uppercase;
}

.leer-mas{
	font-weight: bold;
	text-align: center;
}

/* Barra derecha */

#barra {
	width: 25%;
	float: right;
	padding: 0 5px 0 13px;
}

#barra h3 {
	color: #555555;
	font-family: 'Open Sans Light',sans-serif;
	font-size: 2em;
	font-weight: 300;
	margin: 1em 0;
}

#barra h3#involucrate {
	background: url("../img/about-icons.png") no-repeat scroll 0 0 transparent;
	height: 46px;
	line-height: 46px;
	padding-left: 79px;
}

#barra h3#boletin {
	background: url("../img/about-icons.png") no-repeat scroll 0 -297px transparent;
	height: 57px;
	line-height: 57px;
	padding-left: 79px;
}

#barra p.boletin {
	margin-left: 14px;
	font-size: 0.85rem;
}

#barra h3#destacado {
	background: url("../img/about-icons.png") no-repeat scroll 0 -149px transparent;
	height: 57px;
	line-height: 57px;
	padding-left: 79px;
}

#barra h3#descargas {
	background: url("../img/downloads.png") no-repeat scroll 10px;
	height: 57px;
	line-height: 57px;
	padding-left: 79px;
}

#barra dl dt {
	font-size: 0.95Rem;
	margin: 1em 0 0.5em 1em;
}

#barra dl dd {
	margin-top: -0.5em;
	margin-left: 14px;
	font-size: 0.85rem;
}

#barra ul {
	font-size: 1.4em;
	margin-left: 3em;
}

#barra ul li {
	list-style: circle outside none;
	margin-bottom: 0.5em;
}

#barra-small {
	float: right;
	margin-left: 65px;
	width: 155px;
}

#barra-small h2, #barra-small h3 {
  color: #989898;
  font-size: 1.05em;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 20px;
  padding-bottom: 2px;
  text-transform: uppercase;
}

/* Diseño de página 404 */
/* 404 - Animate the tumbeast's eyes. Original animation by J Zeller. */

@-moz-keyframes crazylefteye {
	0% {left:125px;top:65px;}
	10% {left:118px;top:56px;}
	20% {left:118px;top:56px;}
	40% {left:148px;top:62px;}
	50% {left:145px;top:72px;}
	60% {left:121px;top:70px;}
	70% {left:125px;top:65px;}
	100%{left:125px;top:65px;}
}
@-moz-keyframes crazyrighteye {
	0% {left:231px;top:68px;}
	10% {left:212px;top:62px;}
	20% {left:212px;top:62px;}
	40% {left:239px;top:64px;}
	50% {left:240px;top:80px;}
	60% {left:215px;top:73px;}
	70% {left:231px;top:68px;}
	100% {left:231px;top:68px;}
}
@-webkit-keyframes crazylefteye {
	0% {left:125px;top:65px;}
	10% {left:118px;top:56px;}
	20% {left:118px;top:56px;}
	40% {left:148px;top:62px;}
	50% {left:145px;top:72px;}
	60% {left:121px;top:70px;}
	70% {left:125px;top:65px;}
	100%{left:125px;top:65px;}
}
@-webkit-keyframes crazyrighteye {
	0% {left:231px;top:68px;}
	10% {left:212px;top:62px;}
	20% {left:212px;top:62px;}
	40% {left:239px;top:64px;}
	50% {left:240px;top:80px;}
	60% {left:215px;top:73px;}
	70% {left:231px;top:68px;}
	100% {left:231px;top:68px;}
}
@keyframes crazylefteye {
	0% {left:125px;top:65px;}
	10% {left:118px;top:56px;}
	20% {left:118px;top:56px;}
	40% {left:148px;top:62px;}
	50% {left:145px;top:72px;}
	60% {left:121px;top:70px;}
	70% {left:125px;top:65px;}
	100%{left:125px;top:65px;}
}
@keyframes crazyrighteye {
	0% {left:231px;top:68px;}
	10% {left:212px;top:62px;}
	20% {left:212px;top:62px;}
	40% {left:239px;top:64px;}
	50% {left:240px;top:80px;}
	60% {left:215px;top:73px;}
	70% {left:231px;top:68px;}
	100% {left:231px;top:68px;}
}
#beast404re{
	-moz-animation-name: crazyrighteye;
	-moz-animation-delay: 6s;
	-moz-animation-duration: 7s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;
	-webkit-animation-name: crazyrighteye;
	-webkit-animation-delay: 6s;
	-webkit-animation-duration: 7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: crazyrighteye;
	animation-delay: 6s;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}
#beast404le{
	-moz-animation-name: crazylefteye;
	-moz-animation-delay: 6s;
	-moz-animation-duration: 7s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;
	-webkit-animation-name: crazylefteye;
	-webkit-animation-delay: 6s;
	-webkit-animation-duration: 7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: crazylefteye;
	animation-delay: 6s;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}
#beastainer{padding-top: 1.6em;padding-left: 1.4em;position:relative;float:right;}
#beast404re, #beast404le{position:absolute;}
#beast404le{left:125px;top:65px;}
#beast404re{left:231px;top:68px;}
#error404-info > p{margin-bottom:0em;padding:0em;}
#error404-info > ul{padding:0em;}

/* Cookie Bar */
#cookie-bar {background:#484848; line-height:30px; color:#eeeeee; text-align:center; padding:3px 0;}
#cookie-bar.fixed {position:fixed; bottom:0; left:0; width:100%;}
#cookie-bar p {margin:0; padding:0;font-size: 1.25em;}

/* Forum Warning */
#warning-foro {
  padding: 20px 12.5%;
  text-align: center;
  line-height: 25px;
  background-color: #D64720;
  z-index: 999;
  bottom: 0px;
  position: fixed;
  height: 4em;
  font-size: 0.85rem;
  color: #FFF;
  transition: 0.5s ease height;
}

#warning-foro.off {
  padding: 0 12.5%;
  height: 0;
}

#warning-foro a {
  color: #FFF;
  text-decoration: underline;
}

/* Tabzilla https://github.com/mozilla/tabzilla/ */

#tabzilla {
	right: 0;
	float: right;
	position: absolute;
}

#tabzilla a {
	text-indent: 120%;
	white-space: nowrap;
	overflow: hidden;
	background-image: url('../img/tabzilla-static.png');
	background-repeat: no-repeat;
	display: block;
	height: 37px;
	position: relative;
	width: 147px;
	z-index: 2;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 1.5dppx) {
	#tabzilla a {
		background-image: url('../img/tabzilla-static-high-res.png');
		-webkit-background-size: 147px 37px;
		background-size: 147px 37px;
	}
}

#tabzilla:before {
	background-color: #484848;
	content: '';
	display: block;
	height: 26px;
	left: 28px;
	position: absolute;
	top: 0;
	width: 88px;
	z-index: 1;
}

html[dir='rtl'] #tabzilla {
	float: left;
}
