/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  * {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */ }

  img {
    max-width: 100%; }

  /* ==========================================================================
     Body
     ========================================================================== */
  #lienzo {
    min-width: 90%; }

  #tullido {
    width: 90%; }

  #alojaLogo {
    margin-top: 60px;
    width: 100%; }

  /* ==========================================================================
     Main Nav
     ========================================================================== */
  #menu li:hover, #menu li:hover a, .js #menu li:hover span {
    background: #FFFFFF; }

  #resp-button {
    display: block;
    width: 32px;
    height: 32px;
    margin: 5px 0px 0px -3px;
    background: url("../img/icn-menu.png") no-repeat scroll center top transparent;
    cursor: pointer;
  }

  #resp-button:active{
    background-position: center -100px; 
  }

  #menu .clearfix{
    width: 100px;
    position: absolute;
    background: #fff;
    z-index: 4;
  }

  #menu li {
    width: 100%;
  }

  #menu li:hover{
   background: rgb(36, 122, 193); 
  }

  #menu2 {
    margin: 0 0 0 40px;
  }

  #menu .submenu {
    margin: -40px 0 0 80px;
  }

  #contenido #main-content {
    width: 100%; }

  #barra {
    float: none;
    width: 100%; }

  #social {
    display: none; }

  #menu {
    display: inline;
    font-size: 12px;
    height: 80px;
    width: 100%; }

  #cc {
    margin-bottom: -15px;
    margin-top: 15px; }

  .timer {
    z-index: 3 !important; }

  /* ==========================================================================
     Slider
     ========================================================================== */
  .orbit-wrapper .orbit-caption h3 {
    font-size: 1em;
    margin: 2%;
    max-width: 45%; }

  .orbit-wrapper .orbit-caption p {
    display: none; }

  .orbit-wrapper .orbit-caption {
    width: 100%;
    padding: 0;
    z-index: 3; }

  #content-bar {
    clear: both;
    margin-bottom: 3em;
    margin-top: 3em; }

  /* ==========================================================================
     Footer
     ========================================================================== */
  #pie {
    margin-top: 30px;
    width: 100%; }

  #pie #pie-contenido {
    margin: auto;
    width: 100%; }

  #pie #pie-contenido .c2 {
    background-position: 50% 50%;
    padding-right: 20px;
    width: 90%;
    margin-bottom: 15px; }

  #pie #pie-contenido .c1 {
    margin-left: 5%;
    margin-right: 5%;
    width: auto; }

  /* ==========================================================================
     Images
     ========================================================================== */
  .home .post-content img, .archive .post-content img, .tag .post-content img, .page-template-labs-index-php .post-content img, .page-template-pais-php .post-content img {
    float: left;
    height: auto;
    min-width: 40%; }

  .home .portada-individual .texto-portada-individual, .archive .portada-individual .texto-portada-individual, .tag .portada-individual .texto-portada-individual, .page-template-labs-index-php .texto-portada-individual, .page-template-pais-php .portada-individual .texto-portada-individual {
    padding: 0; }

  .home .post-content img, .archive .post-content img, .tag .post-content img, .page-template-labs-index-php .post-content img, .page-template-pais-php .post-content img {
    max-width: 20%;
    width: 130px; }

  sidebar {
    display: none;
  }
}

/* ==========================================================================
   TABLET
   ========================================================================== */

@media only screen and (min-width: 480px) and (max-width: 768px) {
  #menu .resp-button {
    display: none;
  }
  .home .post-content img, .archive .post-content img, .tag .post-content img, .page-template-labs-index-php .post-content img, .page-template-pais-php .post-content img {
    max-width: 20%;
    width: 100%; }
}

  #menu2 {
    position: absolute;
    top: 0;
    max-width: 450px;
    margin-top: 20px;
  }
/* ==========================================================================
   DESKTOP
   ========================================================================== */

@media only screen and (min-width: 800px) {
  #menu2 {
    max-width: 540px;
  }

 }
