

<div id="page-footer">

	<div class="navbar">

		<ul class="linklist">
			<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
		</ul>

	</div>
	
<!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
	the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
	"phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
	forums may be affected.

	The phpBB Group : 2006
//-->

	<div class="copyright">
		<p <!-- IF S_USER_LOGGED_IN --><!-- ENDIF -->><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
	<!-- IF U_MCP --><p>{CURRENT_TIME} <br />[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ELSEIF S_USER_LOGGED_IN --><p>{CURRENT_TIME}</p><!-- ENDIF -->
		<p>Powered by <a href="http://www.phpbb.com/">phpBB</a> - <!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; <!-- ENDIF --><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF --> {S_TIMEZONE}
		<!-- IF TRANSLATION_INFO --><!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF --></p>
	</div>
</div>
<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->

</div>

</div> <!-- page-body -->
	
<div id="barra-small">
	<ul class="linklist navlinks">
			<li class="rightside"><a href="#" onclick="fontsizeup(); return false;" class="fontsize" title="{L_CHANGE_FONT_SIZE}">{L_CHANGE_FONT_SIZE}</a></li>
			<!-- IF U_EMAIL_TOPIC --><li class="rightside"><a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}" class="sendemail">{L_EMAIL_TOPIC}</a></li><!-- ENDIF -->
			<!-- IF U_EMAIL_PM --><li class="rightside"><a href="{U_EMAIL_PM}" title="{L_EMAIL_PM}" class="sendemail">{L_EMAIL_PM}</a></li><!-- ENDIF -->
			<!-- IF U_PRINT_TOPIC --><li class="rightside"><a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}" accesskey="p" class="print">{L_PRINT_TOPIC}</a></li><!-- ENDIF -->
			<!-- IF U_PRINT_PM --><li class="rightside"><a href="{U_PRINT_PM}" title="{L_PRINT_PM}" accesskey="p" class="print">{L_PRINT_PM}</a></li><!-- ENDIF -->	
	</ul>
	
	<!-- Buscador -->
		<div id="alojaBusqueda">
				<form action="/buscar.php" method="get" id="form-buscador">
					<fieldset>
						<div id="caja-busqueda">
							<select id="destinoBusqueda" name="donde">
								<option value="noti">Noticias</option>
								<option selected="selected" value="foro">Foros</option>
								<option value="docu">Documentación</option>
							</select>
							<input name="desde" type="hidden" value="foro" />
							<input type="text" name="q" id="keywords" maxlength="128" title="Escribe primero tu pregunta aquí..." class="buscador" value="Escribe primero tu pregunta aquí..." onclick="if(this.value=='Escribe primero tu pregunta aquí...')this.value='';" onblur="if(this.value=='')this.value='Escribe primero tu pregunta aquí...';"/>
							<button type="submit" class="submit">Buscar</button>
						</div>

					</fieldset>
				</form>
		</div>

    <aside class="foro-herramientas">
      <h3>Herramientas</h3>
        <ul class="linklist">
          <li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
            <!-- IF not S_IS_BOT -->
              <!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
              <!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
              <!-- IF S_ENABLE_FEEDS -->
              <!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><li><a  class="icon-subscribe-rss" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}">Este subforo por RSS</a></li><!-- ENDIF -->
              <!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><li><a  class="icon-subscribe-rss" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}">Este tema por RSS</a></li><!-- ENDIF -->
              <!-- ENDIF -->
              <!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
              <!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->
            <!-- ENDIF -->
        </ul>

      <!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
      <ul class="linklist">
        <!-- IF S_DISPLAY_SEARCH -->
          <!-- IF S_USER_LOGGED_IN -->
            <li><a class="unsolvedlink" href="{U_SEARCH_UNSOLVED_TOPICS}">{L_SEARCH_UNSOLVED}</a></li>
            <li><a class="unsolvedlink" href="{U_SEARCH_YOUR_UNSOLVED_TOPICS}">{L_SEARCH_YOUR_UNSOLVED}</a></li>
          <!-- ENDIF -->
          <li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
          <!-- IF S_USER_LOGGED_IN -->
            <li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li>
            <li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li>
          <!-- ENDIF -->
          <li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
        <!-- ENDIF -->
        <!-- IF not S_IS_BOT and U_MARK_FORUMS -->
          <li><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li>
        <!-- ENDIF -->
      </ul>
      <!-- ENDIF -->
    </aside>
    <!-- foro-herramientas -->
    <aside class="registro-usuarios">
      <h3>Usuario</h3>
      <!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
						<ul class="linklist">
							<li class="icon-ucp">
								<a href="{U_PROFILE}" title="{L_PROFILE}" accesskey="e">{L_PROFILE}</a>
									<!-- IF S_DISPLAY_PM --> (<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>)<!-- ENDIF -->
								<!-- IF S_DISPLAY_SEARCH -->
								<a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a>
								<!-- ENDIF -->
								<!-- IF U_RESTORE_PERMISSIONS -->
								<a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a>
								<!-- ENDIF -->
							</li>
						</ul>
						<!-- ENDIF -->

						<ul class="linklist">
							<li class="icon-faq"><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}">{L_FAQ}</a></li>
							<!-- IF not S_IS_BOT -->
								<!-- IF S_DISPLAY_MEMBERLIST --><li class="icon-members"><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}">{L_MEMBERLIST}</a></li><!-- ENDIF -->
								<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --><li class="icon-register"><a href="{U_REGISTER}">{L_REGISTER}</a></li><!-- ENDIF -->
								<li class="icon-logout"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x">{L_LOGIN_LOGOUT}</a></li>
							<!-- ENDIF -->
						</ul>
    </aside>
    <aside class="comprueba-plugins">
      <h3>Comprueba tus plugins</h3>
      <p><a href="http://www.mozilla.com/plugincheck/"><img src="https://support.mozilla.org/media/img/promo.plugins.png" alt="Plugins" /></a></p>
      <p>¿Qué es un plugin? ¿Por qué debo mantenerlos actualizados? Responde a estas preguntas e inicia una verificación instantánea para comprobar su actualización.</p>
      <p><a href="http://www.mozilla.com/plugincheck/">Más información »</a></p>
    </aside>
    <aside class="ayudanos-ayudar">
      <h3>Ayúdanos a ayudar</h3>
      <p>Este foro está formado por voluntarios, cualquiera puede ayudar sin conocimientos previos.</p>
	    <p><a href="/documentacion/Foros_de_asistencia">Descubre lo fácil que es »</a></p>
    </aside>
</div>

</div><!-- Cuerpo -->
</div><!-- Contenido -->
</div><!-- tullido -->
</div><!-- lienzo -->
{PIE}

{PINTAJS}

</body>
</html>
