<!-- IF S_QR_ACTIVE -->
<script type="text/javascript">
var LANG_TOO_FEW_CHARS 		= '{L_TOO_FEW_CHARS}';
var LANG_L_NO_TEXT_SELECTED	= '{L_NO_TEXT_SELECTED}';
var	form_name 				= 'postform';
var	text_name 				= 'message';
var in_quick_reply			= true;
</script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/quickreply_editor.js" ></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/editor.js" ></script>
<div id="quick_reply" style="width:100%;">
   <form action="{S_QR_POST_ACTION}" method="post" id="postform" name="postform" onsubmit="return checkQuickForm(this)">
     {S_FORM_TOKEN}
      <div class="panel" id="postingbox">
         <div class="inner"><span class="corners-top"><span></span></span>   
            <h3>{L_POST_REPLY}</h3>
         </div>
         
         <fieldset class="fields1" style="width:90%; margin-left:auto;margin-right:auto;padding-top:10px;">

               <!-- IF S_QR_SUBJECT -->
               <dl style="clear: left;">
                  <dt><label for="subject">{L_SUBJECT}:</label></dt>
                  <dd><input type="text" name="subject" id="subject" size="45" maxlength="64" tabindex="2" value="{QR_SUBJECT}" class="inputbox" /></dd>
               </dl>
                <!-- ELSE -->
                   <input type="hidden" name="subject" value="{QR_SUBJECT}" />
            <!-- ENDIF -->

         <!-- IF S_QR_BBCODE_BOX_ACTIVE -->
            <div><!-- INCLUDE posting_buttons.html --></div>
         <!-- ENDIF -->

         <div id="smiley-box">
            <!-- IF .smiley -->
               <strong>{L_SMILIES}</strong><br />
               <!-- BEGIN smiley -->
                  <a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
               <!-- END smiley -->
            <!-- ENDIF -->
            <!-- IF S_SHOW_SMILEY_LINK -->
               <br /><a href="{U_MORE_SMILIES}" onclick="window.open('{U_MORE_SMILIES}', '_phpbbsmilies', 'HEIGHT=350,resizable=yes,scrollbars=yes,WIDTH=300'); return false;">{L_MORE_SMILIES}</a>
            <!-- ENDIF -->
         </div>

         <div id="message-box">
            <textarea name="message" id="message" rows="13" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" class="inputbox"></textarea>
         </div>
   
         <div id="options-quickreply">
            <dl>      
                  <!-- IF S_QR_ATTACH_SIG -->
                     <div><label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig"{S_QR_SIGNATURE_CHECKED} /> {L_ATTACH_SIG}</label></div>
                  <!-- ENDIF -->   
                  <!-- IF S_QR_QUOTE_LAST -->
                     <div><label for="quote_last_msg"><input type="checkbox" name="quote_last_msg" id="quote_last_msg" /> {L_QUOTE_LAST_POST}</label></div>            
                  <!-- ENDIF -->                  
                  <!-- IF S_QR_NOTIFY -->
                     <div><label for="notify"><input type="checkbox" name="notify" id="notify"{S_QR_NOTIFY_CHECKED} /> {L_NOTIFY_REPLY}</label></div>
                  <!-- ENDIF -->         
                     <a href="#" onclick="quoteSelection(); return false;">{L_QUOTE_SELECTED}</a>
            </dl>
         </div>

      </fieldset>

      </div>               
      
      <!-- IF not S_USER_LOGGED_IN -->
      <div class="panel bg2">
         <fieldset class="fields1">
            <div class="column1">
               <dl>
                  <dt><label for="username">{L_USERNAME}:</label></dt>
                  <dd><input type="text" tabindex="3" name="username" id="username" size="25" maxlength="30" class="inputbox" /></dd>
               </dl>
               <!-- IF S_CONFIRM_CODE -->
               <dl>
                  <dt><label for="confirm_code">{L_CONFIRM_CODE}:</label><br /><span>{L_CONFIRM_CODE_EXPLAIN}</span></dt>
                     <dd><input type="hidden" name="confirm_id" value="{CONFIRM_ID}" />{CONFIRM_IMAGE}</dd>
                     <dd><input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="3" class="inputbox narrow" title="{L_CONFIRM_CODE}" /></dd>
               </dl>
               <!-- ENDIF -->
            </div>
         </fieldset>
      </div>
      <!-- ENDIF -->
      
      <div class="panel bg2">
         <div class="inner"><span class="corners-top"><span></span></span>   
         
         <fieldset class="submit-buttons">
            {S_QR_HIDDEN_FIELDS}
            <input type='hidden' name='last_post' value='{S_QR_LAST_POST}' />
            <input type="submit" name="preview" tabindex="6" value="{L_PREVIEW}" class="button1" onclick="document.getElementById('postform').action += '#preview';" />&nbsp; 
            <input type="submit" name="post" tabindex="5" value="{L_SUBMIT}" class="button1" accesskey="s" />
         </fieldset>
      
         <span class="corners-bottom"><span></span></span></div>
      </div>
   </form>
</div>
<!-- ENDIF -->
