/* Parche para ajustes de skin de mediawiki con el theme de Mozilla Hispano */
@import url("//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css");
#social li {
	list-style: none;
}
#page-content {
	font-size: 150%;
}
#cabecera,
.top-bar{
	clear: both;
}
.mediawiki #tabzilla {
	position: absolute;
}
#social ul {
	margin: 0;
}
#menu ul,
#menu li {
	margin: 0;
}
.top-bar {
	background-color: #444;
}
.top-bar-section ul li.active > a {
	background-color: #444;
}
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	border-color: #505050;
}
.top-bar-section ul {
	background-color: #444;
}
.top-bar-section .has-form {
	background-color: #444;
}
.top-bar-section li a:not(.button) {
	background-color: #444;
}
.top-bar.expanded .title-area {
	background-color: #444;
}